body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(220, 20, 60, 0.692);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: cursive;
}

.container {
    border-radius: 10px;
    box-shadow: 0px 4px 8px black;
    color: rgba(41, 43, 43, 0.726);
    background-color: crimson;
    padding: 15px;
}

input {
    padding: 10px 15px;
    font-size: 22px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid black;
    background-color: lightgray;
    outline: none;
}

button {
    display: block;
    padding: 10px 25px;
    width: 30%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;

    &:hover{
        background-color: green;
    }
}

.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    font-size: 25px;
    color: green;
    position: fixed;
    margin-left: 390px;
    opacity: 0.6;

    &:hover{
        color: green;
        cursor: pointer;
        opacity: 1;
    }
}

.alert {
    position: fixed;
    background-color: crimson;
    box-shadow: 0px 4px 8px black;
    border-radius: 10px;
    padding: 10px 20px;
    right: 50px;
    bottom: 30px;
    transition: 0.4s;
}

.active.alert{
    right: -300px;  
}